= form_for @zipcode do |f|
  - if @zipcode.errors.any?
    #error_explanation
      %h2= "#{pluralize(@zipcode.errors.count, "error")} prohibited this zipcode from being saved:"
      %ul
        - @zipcode.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    %label ZipCode
    %input{:class=>"form-control", :name=>"zip_code", :value=>@zipcode.zip_code}
  .form-group
    %label Country
    %input{:class=>"form-control", :name=>"country", :value=>@zipcode.country}
  .form-group
    %label City
    %input{:class=>"form-control", :name=>"city", :value=>@zipcode.city}
  .actions
    = f.submit 'Save'
